APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost:8000
API_TOKEN_VALID_DAYS=10

PARTNER_FRONTEND_URL=http://partner.servoquick.com
ADMIN_FRONTEND_URL=http://admin.servoquick.com

CUSTOMER_FRONTEND_URL=http://servoquick.com
CUSTOMER_PAYMENT_SUCCESS_URL='/account/payment-success'
CUSTOMER_PAYMENT_FAILURE_URL='/account/payment-failure'

# Version strings to keep mobile app version in sync
IOS_PARTNER_MOBILE_VERSION_STRING='1.0'
ANDROID_PARTNER_MOBILE_VERSION_STRING='1.0'
IOS_CUSTOMER_MOBILE_VERSION_STRING='1.0'
ANDROID_CUSTOMER_MOBILE_VERSION_STRING='1.0'

PAYMENT_GATEWAY_NAME=payu

# GST and Convenience Tax percentages
GST=18
CONV_CHARGE=2.5

# ServoQuick share of order total
SERVO_SHARE_SERVICE_CHARGES=10 #percent
SERVO_SHARE_VISITATION_CHARGES=50 #INR

# PayU parameters
PAYU_KEY='KEY_COMES_HERE'
PAYU_SALT='SALT_COMES_HERE'
PAYU_PRODUCT_INFO='ServoQuick'
PAYU_TEST_URL='https://test.payu.in/_payment'
PAYU_LIVE_URL='https://secure.payu.in/_payment'

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=servoapp
DB_USERNAME=root
DB_PASSWORD=root

FILE_STORAGE_URL='https://s3.us-east-2.amazonaws.com/servoquickupload/'

MSG91_AUTH_KEY='Auth_key'
MSG91_SENDER_ID ='Sender_id'
MSG91_ROUTE='4'
MSG91_SMS_API_URL='http://api.msg91.com/api/v2/sendsms'

OTP_VALID_MINUTES='10'

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync
